.textContainer {
  text-align: left;
  width: 90%;
  margin: 30px auto;
}

.title{
  font-size: 34px;
  margin-bottom: 43px;
}

.content {
  font-size: 18px;
  margin: 20px 0;
}

.StatsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 100px auto;
}

.StatBoxContainer{
  background: transparent linear-gradient(180deg, #E11272 0%, #710939 100%);
  border-radius: 50px;
  width: 435px;
  height: 329px;
  text-align: center;
}

.StatBoxStat{
  line-height: 122;
  margin-top: 92px;
  font-size: 80px;
}

.StatBoxLabel{
  margin: 20px;
  font-size: 50px;
}

.PartnerContainer{
  background: transparent linear-gradient(180deg, #9F109A 0%, #50084D 100%);
  border-radius: 50px;
  text-align: center;
}

.PartnerContainerInner {
  position: relative;
  width: 435px;
  height: 329px;
}

.PartnerText {
  font-size: 80px;
  line-height: 122px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1280px) {

  .title{
    font-size: 24px;
  }

  .StatsContainer {
    width: 100%;
  }
  
  .StatBoxContainer{
    width: 292px;
    height: 220px;
  }

  .StatBoxStat{
    font-size: 52px;
    line-height: 50px;
    margin-top: 50px;
  }

  .StatBoxLabel{
    font-size: 33px;
  }

  .PartnerContainerInner {
    width: 291px;
    height: 220px;
  }

  .PartnerText {
    font-size: 53px;
    line-height: 81px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .title{
    margin-bottom: 0;
  }

  .StatsContainer {
    display: block;
  }

  .StatBoxContainer{
    border: 3px solid #E11272;
    margin: 100px auto;
    background: transparent;
  }

  .PartnerContainer{
    border: 3px solid #E11272;
    margin: 100px auto;
    background: transparent;
    width: 291px;
    height: 220px;
  }


}
