.contactBoxContainer {
  width: 376px;
  height: 551px;
  border: 2px solid #E11272;
  border-radius: 20px;
  margin-left: 100px;
}

.innerContactBoxContainer {
  width: 329px;
  height: 425px;
  border: 2px solid #F8F8F8;
  margin: 74px auto;
  padding: 10px;
}

.ContactBoxContent {
  color: black;
  text-align: center;
  font-size: 20px;
}

.ContactBox--title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.ContactBox--content {
  text-align: left;
  font-size: 16px;
}

.ContactButton {
  width: 228px;
  height: 56px;
  margin: 20px;
  border: 2px solid #9F109A;
  border-radius: 40px;
  background: transparent;
  color: white;
}

.FAQ__Container{
  background: transparent linear-gradient(180deg, #4D4444 0%, #0F0E0E 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FAQ__Container--inner {
  width: 1137px;
  height: 715px;
  overflow: scroll;
}

.FAQ--content--title{
  font-size: 50px;
  line-height: 76px;
  margin: 20px 0 0 35px ;
}

.FAQ__Container--content--box{
  width: 1070px;
  height: 100px;
  border: 2px solid #F8F8F8;
  border-radius: 20px;
  margin: 31px;
  padding: 10px;
}

@media only screen and (max-width: 1280px) {
  .contactBoxContainer {
    width: 250px;
    height: 367px;
  }

  .innerContactBoxContainer {
    width: 221px;
    height: 339px;
    margin: 14px auto;
    padding: 0px 5px;
  }

  .ContactBox--title {
    margin: 0px;
  }

  .ContactButton {
    width: 170px;
    height: 37px;
  }
}

@media only screen and (max-width: 600px) {
  .contactBoxContainer {
    width: 250px;
    height: 367px;
    text-align: center;
    margin: 20px auto;
    background: transparent;
    border: 2px solid #E11272;
  }

  .innerContactBoxContainer{
    width: 219px;
    height: 335px;
    margin: 14px auto;
    background: transparent;
    border: 2px solid #F8F8F8;
  }

  .ContactButton {
    width: 152px;
    height: 37px;
  }

  .ContactBoxContent--Container {
    color: white;
    padding: 2px;
  }
}