html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em georgia, serif, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}
  
body {
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: hsla(0, 0%, 0%, 0.8);
background: transparent linear-gradient(180deg, #4D4444 0%, #0F0E0E 100%) 0% 0% no-repeat padding-box;
/* font-family: georgia, serif;
font-weight: normal;
word-wrap: break-word;
font-kerning: normal;
-moz-font-feature-settings: "kern", "liga", "clig", "calt";
-ms-font-feature-settings: "kern", "liga", "clig", "calt";
-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
font-feature-settings: "kern", "liga", "clig", "calt"; */
}

a {
    color: white;
    text-decoration: none;
}

main {
    min-height: 75vh;
}

input[type="button"]
{
    border: none;
    outline:none;
}

textarea:focus, input:focus{
    outline: none;
}


.memberOuterContainer{
    margin: 0 auto;
    text-align: center;
    width: 1347px;
    min-height: 85vh;
    padding: 40px;
}

.membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memberGuideButton {
    max-width: 170px;
    border: 2px solid #9F109A;
    border-radius: 20px;
    margin: 42px auto;
    padding: 10px 35px;
    font-size: 16px;
}

.contactContainer {
    display: flex;
    justify-content: center;
    margin: 165px 0 20px 0; 
}

.contact_map {
    width: 663px;
    height: 552px;
}

.contactButtonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
}

.joinContainer {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.joinTitle {
    font-size: 70px;
    line-height: 114px;
}

@media only screen and (max-width: 1280px) {
    .contact_map {
        width: 442px;
        height: 368px;
    }


}

@media only screen and (max-width: 600px) {
    .memberOuterContainer {
        max-width: 300px;
        padding: 0;
    }

    .contactContainer {
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 320px;
    }

    .contact_map {
        max-width: 300px;
        height: 270px;
        margin: 20px 10px;
    }

    .contactButtonContainer{
        display: block;
        max-width: 320px;
        text-align: center;
    }
  }