.BlogNavContainer {
  text-align: right;
  padding: 35px 36px 20px 0;
}

.BlogHeaderContainer {
  margin: 0px auto;
  text-align: center;
  padding: 183px;
  line-height: 133px;
  background: white;
  color: black;
}

.BlogPreviewContainer {
  text-align: center;
}

.BlogNav_input{ 
  font-size: 20px;
  text-align: center;
  width: 262px;
  height: 45px;
}

.BlogHeader {
  font-size: 100px;
}

.BlogMoreButton {
  width: 151px;
  height: 56px;
  font-size: 20px;
  background: white;
  border: 1px solid #707070;
}


.BlogPreviewBox {
  width: 621px;
  height: 552px;
  margin: 80px auto;
  background: white;
  color: black;
}

